	*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a{
	position: relative;
	display: inline;
	margin: 3 x 90px;
	outline: none                                                                                                                                                                                                              ;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.00em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.cl-effect-21{
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

.cl-effect-21 ul{
	position: relative;
}

.cl-effect-21 a {
	padding: 8px;
	color: #545454;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 1px;
	background: #616161;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #545454;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
