body {
  background-color: #F5F5F5;
  font-size: 100%;
  font-family: Helvetica;
  font-weight: 700;
  /*
  line-height: 1.55em;
  padding: 0 2em;
  text-rendering: optimizeLegibility;
  color: #555;
  */
}

#mainrow{
  margin-top: 10em;
} 

h1 {
  margin-bottom: 0.5em;
  margin-left: 10px;
}

h2 {
  border-left: 10px hidden;
  /*border-color: #F5F5F5;*/
  padding-left: 10px;

  margin-top: 0.25em;
  margin-bottom: 0.25em;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  
}

h2:hover {
  border-left: 10px solid;
  color: red;
}