body {
    background-color: #CDCDCD;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    color: #7a7a7a;
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #CDCDCD;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

    .fade-in.one {
        -webkit-animation-delay: 0.7s;
        -moz-animation-delay: 0.7s;
        animation-delay: 0.7s;
    }

    .fade-in.two {
        -webkit-animation-delay: 1.2s;
        -moz-animation-delay:1.2s;
        animation-delay: 1.2s;
    }

    .fade-in.three {
        -webkit-animation-delay: 1.7s;
        -moz-animation-delay: 1.7s;
        animation-delay: 1.7s;
    }

    .fade-in.four {
        -webkit-animation-delay: 2.2s;
        -moz-animation-delay: 2.2s;
        animation-delay: 2.2s;
    }

    .fade-in.five {
        -webkit-animation-delay: 2.7s;
        -moz-animation-delay: 2.7s;
        animation-delay: 2.7s;
    }


    /*---make a basic box ---*/
    .box{
        width: 629px;
        height: 407px;
        position:absolute;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
    }

    .container{
        -webkit-font-smoothing: antialiased;
        position:absolute;
        left:0;
        right:0;
        top:500px;
        margin-left:auto;
        margin-right:auto;
    }

    footer{
        -webkit-font-smoothing: antialiased;
        position:absolute;
        left:0;
        right:0;
        top:560px;
        margin-left:auto;
        margin-right:auto;
    }

}
