body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #545454;
    background-color: #CDCDCD;
    margin: 60px auto;
    line-height: 130%;   
} 

nav ul {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}


nav ul li{
    display: inline-block;
    padding: 1% 3%;
}

footer {
    font-size: .8em;
}

footer ul li{
    position: relative;
    top: 40px;
    display: inline;
    padding: 10px 0px;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
}

.fade-in.three {
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.fade-in.four {
    -webkit-animation-delay: 2.2s;
    -moz-animation-delay: 2.2s;
    animation-delay: 2.2s;
}

.box{
    height: auto;
    width: auto;
    max-width: 629px;
    max-height: 407px;
    position:absolute;
    top:120px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.container{
    -webkit-font-smoothing: antialiased;
    position:absolute;
    left:0;
    right:0;
    top:480px;
    margin-left:auto;
    margin-right:auto;
}

.container p{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.3em;
    color: #545454;
    position:relative;
    top:40px;
    line-height: 1.4em;
}

footer{
    -webkit-font-smoothing: antialiased;
    position:absolute;
    left:0;
    right:0;
    top:530px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    min-width: 500px;
}
